streamlit
python-dotenv
pypdf
pandas
langchain
langchain-community
langchain-core
langchain-openai
langchain-experimental
openai
faiss-cpu
tiktoken
sentence-transformers
pdfminer.six
plotly
folium
streamlit-folium
datasets
